.book {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.image {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.25rem;
  aspect-ratio: 9/16;
  border-radius: 0.5rem;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 1.25rem;
  margin-block: 0.5rem;
}

.text {
  font-size: 0.9rem;
  text-align: center;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 0.35rem 1rem;
  border-radius: 0.5rem;
}
